.content-60 > p {
  margin-bottom: 10px;
  line-height: 30px;
  font-weight: bold;
}

.content-60 > hr {
  margin-bottom: 30px;
}

.slika-left {
  display: inline-block;
  height: 300px;
  overflow: hidden;
  width: 39%;
}

.slika-left > img {
  width: 100%;
}

.info-right {
  display: inline-block;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 300px;
  width: 60%;
  padding: 10px 20px;
}

.info-right > h3 {
  color: #888888;
  font-family: arial;
}

.info-right > h3 > span{
  float: right;
  font-size: 0.7em;
}

.info-right hr {
  margin: 5px 0 15px 0;
}

.info-right p {
  text-align: justify;
  margin-bottom: 10px;
}

.info-buttons {
  text-align: right;
  margin-bottom: 50px;
}
