.content-60 {
  background-color: white;
  border-radius: 5px;
  padding: 50px;
}

.content-60 h1 {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  margin: 40px 0 60px 0;
}

@media screen and (max-width: 900px) {
  .content-60 {
    padding: 25px;
  }
  .content-60 h1 {
    margin: 20px 0 30px 0;
  }
  .col-25, .col-75 {
    width: 100%;
  }
  .row {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .tooltip {
    display: block;
  }
  .tooltip .tooltiptext {
    display: none;
  }
  button[type="reset"] {
    display: none;
  }
  button[type="submit"] {
    width: 100%;
  }
}
